body {margin:0; font-family: Helvetica}

.drawing{
    display: flex;
    width: 100%;
}

.logo {
    width: 55px;
    float: left;
    margin: 10px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50%;
    border: #dddddd 5px solid;
}

.logo1 {
    width: 55px;
    margin: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: #dddddd 5px solid;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    border-bottom: #dddddd 5px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

.index-navbar {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.index-navbar a {
    position: relative;
    border-radius: 25px;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-top: 15px;
}

.navbar a {
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-top: 15px;

}

.navbar a:hover {
    background: #dddddd;
    color: #333333;
}

.navbar_bottom {
    overflow: hidden;
    background-color: #333;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.navbar_bottom a {
    border-radius: 25px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-top: 15px;
}

.navbar_bottom a:hover {
    background: #dddddd;
    color: #333333;
}

.maintop {
    color: #333;
    width: 75%;
    border-radius: 25px;
    border: 30px black;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
}

.main {
    color: #dddddd;
    width: 75%;
    border-radius: 25px;
    border: 30px black;
    padding: 25px;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.maintop a:link {
    font-weight: bold;
    border-radius: 25px;
    float: left;
    display: block;
    background-color: #333333;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 100%;
    border-top: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.maintop a:hover {
    background: #adaaaa;
    color: #333333;
}

.maintop a:visited {
    color: #dddddd;
    text-decoration: none;
}

.main a:link {
    font-weight: bold;
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 100%;
    border-top: 10px;
}
.main a:visited {
    color: #dddddd;
    text-decoration: none;
}
.main a:hover {
    background: #dddddd;
    color: #333333;
}
.main a:active {
    background: #dddddd;
    color: black;
}

.main p1 {
    font-weight: bold;
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 100%;
    border-top: 10px;
}

.flex-parent {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.flex-parent > div {
    margin-top: 20px;
    padding: 12px;
    width: auto;
}

.grid-parent {
    max-width: 1200px;
    display: grid;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-parent-index {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.grid-child {
    border: 1px;
    padding: 20px;
    text-align: center;
    width: auto;
}


@media (min-width: 600px) {
    .grid-parent{ grid-template-columns: repeat(2, 1fr); }
}

.img_grid {
    border-radius: 25px;
    padding: 2.5%;
    background-color: #adaaaa;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

img {
    max-width: 100%;
    display: block;
}

.picture_container{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.pictures, .pictureleft, .pictureright{
    max-width: 100%;
    transition: transform .5s;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: #dddddd 5px solid;
}

.pictures:hover{
    transition: transform .2s;
    transform: scale(125%);
}

.pictureleft:hover{
    transition: transform .2s;
    transform: translate(30%, 0%) scale(125%);
}

.pictureright:hover{
    transition: transform .2s;
    transform: translate(-30%, 0%) scale(125%);
}

figure {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.post-image:nth-last-child(n+2):nth-last-child(-n+2):first-child,
.post-image:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .post-image {
    flex: 0 1 48%;
}
.post-image:nth-last-child(n+3):nth-last-child(-n+3):first-child,
.post-image:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ .post-image {
    flex: 0 1 31%;
}
