body {margin:0; font-family: Helvetica}

.drawing{
    width: 100%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 55px;
    float: left;
    margin: 10px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50%;
    border: #dddddd 5px solid;
}

.logo1 {
    width: 55px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: #dddddd 5px solid;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    border-bottom: #dddddd 5px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-top: 15px;

}

.navbar a:hover {
    background: #dddddd;
    color: #333333;
}

.bottombar {
    overflow: hidden;
    background-color: #333;
    bottom: 0;
    width: 100%;
}

.bottombar a {
    border-radius: 25px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-top: 15px;
}

.bottombar a:hover {
    background: #dddddd;
    color: #333333;
}

.maintop {
    color: #dddddd;
    width: 50%;
    border-radius: 25px;
    border: 30px black;
    padding: 25px;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
}

.main {
    color: #dddddd;
    width: 50%;
    border-radius: 25px;
    border: 30px black;
    padding: 25px;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.main a:link {
    font-weight: bold;
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 100%;
    border-top: 10px;
}
.main a:visited {
    color: #dddddd;
    text-decoration: none;
}
.main a:hover {
    background: #dddddd;
    color: #333333;
}
.main a:active {
    background: #dddddd;
    color: black;
}

.main p1 {
    font-weight: bold;
    border-radius: 25px;
    float: left;
    display: block;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 100%;
    border-top: 10px;
}

.comms {
    border-radius: 25px;
    background-color: #545d69;
    width: 30%;
    float: top;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;

}